{
  # debug
  # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

perelandra.na.burnskids.com {
  root * /srv
  file_server
}

bitwarden.na.burnskids.com {
  header / {
#    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "1; mode=block"
    X-Frame-Options "DENY"
    X-Robots-Tag "none"
  }

  reverse_proxy /notifications/hub/negotiate localhost:3011
  reverse_proxy /notifications/hub localhost:3012
  reverse_proxy localhost:3011
}

code.na.burnskids.com {
  reverse_proxy localhost:8080
}

http://docker.na.burnskids.com {
  reverse_proxy localhost:9000
}

home.na.burnskids.com {
  reverse_proxy localhost:8123
}

http://plex.na.burnskids.com {
  redir / /web/
  reverse_proxy localhost:32400
}

tv.na.burnskids.com {
  redir / /mythweb/
  redir /mythweb /mythweb/
  reverse_proxy /mythweb/* localhost:6580

  basicauth {
    nathaniel {$MYTHTV_PASSWORD_NATHANIEL}
    anna {$MYTHTV_PASSWORD_ANNA}
  }
}
