[Unit]
Description=Simple Slideshow
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/docker run --name=simple-slides -p 8033:8033 -v /storage/photos:/srv/slides:ro burnnat/simple-slides
ExecStop=/usr/bin/docker stop -t 2 simple-slides
ExecStopPost=/usr/bin/docker rm -f simple-slides

[Install]
WantedBy=multi-user.target
