[Unit]
Description=Webscreens
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/systemd-docker run --name=webscreens -p 8033:8033 -v /storage/photos:/srv/slides:ro burnnat/webscreens
ExecStop=/usr/bin/docker stop -t 2 webscreens
ExecStopPost=/usr/bin/docker rm -f webscreens

[Install]
WantedBy=multi-user.target
